@media (max-width: 576px) {
  #header-comp {
    display: none;
  }
  #header-phone {
    display: block;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #header-comp {
    display: none;
  }
  #header-phone {
    display: block;
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  #header-phone {
    display: none;
  }
  #header-comp {
    display: block;
    .top-left-nav .button {
      display: none;
    }
  }
}

@media (min-width: 1200) {
  #header-phone {
    display: none;
  }
  #header-comp {
    display: block;
  }
}
